.navigation {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-side {
    display: flex;
}

.right-side {
    display: flex;
}

.navigation > .right-side > div {
    margin-left: 20px;
    font-size: 0.9em;
}