body {
    margin: 0px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-side {
    display: flex;
}

.right-side {
    display: flex;
}

.navigation > .right-side > div {
    margin-left: 20px;
    font-size: 90%;
    text-transform: uppercase;
}

.navigation-link {
    height: 22px;
    border-bottom: 1px transparent;
    transition: border-bottom 0.5s;
}

.navigation-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation-link:hover {
    border-bottom: 1px solid black;
}

.navigation-link a:hover {
    color: black;
}